h1 {
    font-family: constantia, georgia, serif;
    font-size: 36pt;
    text-align: center;
    line-height: 4em;
    color: #ccc;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-family: candara,verdana,sans-serif;
    font-size: 48pt;
    text-align: center;
    color: #ccc;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.yes {
    color: #66bc46;
}

.no {
    color: #f63a2d;
}